.v {
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: blue;
}

.oc {
    font-size: 30px;
   
    color: green;
}

.r {
    display: flex;
    justify-content: right;
}

.c {
    font-size: 50px;
    color: blueviolet;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.m {
    font-size: 50px;
    color: blue;
    text-decoration: underline;
    
}