.na {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(230,218,166 );
    font-size: 19px;
}

.cr {
    font-size: 19px;
}

.kl{
    font-size: 19px;
}

.o {
    font-size: 21px;
    font-weight: 700;

}

.a {
    font-size: 21px;
    font-weight: 700;
}

.g {
    font-size: 21px;
    font-weight: 700;
}

.w {
    font-size: 21px;
    font-weight: 700;
}

img {
    width: 30px;
    height: 30px;
}

.e {
    font-size: 21px;
    font-weight: 700;
}

.r {
    font-size: 21px;
    font-weight: 700;
}

.t {
    font-size: 21px;
    font-weight: 700;
}

.l {
    font-size: 21px;
    font-weight: 700;
}

