.na {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(230,218,166 );
    font-size: 19px;
    font-weight: 700;
}




